html, body {
  height: 100%;
  font-family: Helvetica;
}

*:focus {
  outline: none;
}

.body {
  width: 100%;
}

.title {
  width: 175px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.5%;
  font-size: 200%;
  font-family: Helvetica-Light;
  font-style: italic;
}

.timer {
  display: grid;
  grid-template-columns: 28% 8% 28% 8% 28%;
  column-gap: 0%;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  font-family: Helvetica-Light;
  font-size: 200%;
  cursor: pointer;
}

.noSelect {
  -webkit-tp-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.column-separator {
  font-family: Helvetica-Light;

}

.splits {
  display: grid;
  grid-template-columns: 65% 35%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5%;
  font-family: Helvetica-Light;
  cursor: pointer;

}

.parsed-split {
  display: grid;
  grid-template-columns: 28% 2% 28% 5% 28%;
  column-gap: 0%;
  width: 35%;
  text-align: center;
  font-size: 140%;
  animation: fadeIn 1s linear;
}

.parsed-split:active {
  color: red
}

@media screen and (max-width: 900px){
  .parsed-split {
    width: 17vw;
    font-size: 140%
  }
}

@media screen and (max-width: 600px){
  .parsed-split {
    width: 15vw;
    font-size: 80%
  }

}

@-webkit-keyframes fadeIn {
  0% {opacity: 0};
  100% {opacity: 1};
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}


.parsed-difference {
  display: grid;
  grid-template-columns: 28% 2% 28% 2% 28%;
  column-gap: 0%;
  width: 50%;
  text-align: center;
  font-size: 50%;
  vertical-align: bottom;
  color: red;
}

.parsed-difference:hover {
  width: 100%;
  font-size: 100%;
}

.splits:active {
  color: red;
}
